
.skillSection {
    justify-content: space-between;
    margin-top: 1rem;
}

.skillSection:hover {
    align-items: center;
    border-radius: 1rem;
    border-top: 3px solid black;
    border-left: 3px solid green;
    border-right: 3px solid green;
    border-bottom: 3px solid green;
}



.footerIcons a i {
    
    opacity: 1.2;
}

.footerIcons a i:hover {
    opacity: 1;
    transform: scale(1.1);
}