.logoNavbar {
    width: 3rem;
    clip-path: circle(36.4% at 50% 50%);
    
    margin: 0%;
}
.logoNavbar:hover{
    cursor: pointer;
}
.navbar{
    background-color: rgb(236, 225, 209);
    padding: 0%;
}


.container-fluid {
   
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerIcons {
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.menu {
    color: black;
    opacity: 0.7;
    margin-left: 3rem;
}

.menu:hover {
    cursor: pointer;
    opacity: 1;
}

.selected {
    color: red !important;
    opacity: 0.7;
    text-decoration: underline;
}

.selected:hover {
    cursor: pointer;
    opacity: 1;
}

.educationSection:hover {
    cursor: pointer;
}

.instaProfile {
    border-radius: 5% !important;
}

.instatCard {
    height: 2rem !important;
}

footer {
    background-color: rgb(236, 225, 209);
    color: rgb(16, 14, 14);

    display: flex;
    text-align: center;
    height: 8rem !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

    bottom: 0;
    width: 100%;
}